
body {
   background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.container {
    text-align: center;
    padding: 20px;
}


.form-container {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Ffotos-vectores-gratis%2Flineas-minimalistas&psig=AOvVaw0Gzy2f1ywjw6UEJkYPePwi&ust=1694015910539000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCNjsvMLyk4EDFQAAAAAdAAAAABAI');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}


form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}


.navbar {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

.navbar a:hover {
    text-decoration: underline;
}



button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}