{% extends 'base.html' %}
{% load static %}
{% block settings_head %}
<title>Login</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/accounts.css' %}">
{% endblock settings_head %}
{% block content %}
{% include 'components/nav_bar.html' with value_type=is_seller%}
<div class="centered-container">
  <div class="card">
    <div class="card-body">
    </br></br>
      <h2 class="card-title centered-title">Registrarse</h2>
    </br>
      {% if error %}
      <div class="alert" role="alert">
        {{ error }}
      </div>
      {% endif %}
      <p class="card-text">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Nombre de usuario</label></br>
            {{ form.username }}
          </div>
          <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Correo electrónico</label></br>
            {{ form.email }}
          </div>
          <div class="form-group">
            <label for="{{ form.type.id_for_label }}">Tipo</label></br>
            {{ form.type }}
          </div>        
          <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">Contraseña</label></br>
            {{ form.password1 }}
          </div>
          <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Confirmar contraseña</label></br>
            {{ form.password2 }}
          </div>
        
          <button type="submit" class="button_details">Registrarse</button>
        </form>
      </p>
    </br>
    </div>
  </div>
</div>
{% endblock content %}
</html>
