{% extends 'base.html' %}
{% load static %}
{% block settings_head %}
<title>Bar Chart</title>
<link rel = stylesheet href = "{%static 'css/statistic/chart.css'%}"/>
{% endblock settings_head %}
{%block content%}
{% include 'components/nav_bar.html' with value_type=is_seller%}

    <div class = title>
        <h1 class="title">Productos por categoría</h1>
    </div>
    <div class="global_container">
    </br>
        <img src="data:image/png;base64,{{ image_base64 }}" alt="Bar Chart">
    </div>
    


{%endblock content%}
