{% extends 'base.html' %}
{% load static %}

{% block settings_head %}
    <title>Combined Charts</title>
    <link rel="stylesheet" href="{% static 'css/statistic/chart.css' %}" />
{% endblock settings_head %}

{% block content %}
{% include 'components/nav_bar.html' with value_type=is_seller%}
<br/>
    <div class = "global_container">
    <h1>Estadísticas de tus productos</h1>
    <button class="collapsible">Productos por categoría</button>
    <div class="content">
        <div class="chart">
            <img src="data:image/png;base64,{{ charts_data.category_chart_base64 }}" alt="Category Chart">
        </div>
    </div>

    <button class="collapsible">Calificaciones por precio</button>
    <div class="content">
        <div class="chart">
            <img src="data:image/png;base64,{{ charts_data.price_rating_chart_base64 }}" alt="Price Rating Chart">
        </div>
    </div>

    <button class="collapsible">Calificaciones por garantía</button>
    <div class="content">
        <div class="chart">
            <img src="data:image/png;base64,{{ charts_data.warranty_rating_chart_base64 }}" alt="Warranty Rating Chart">
        </div>
    </div>

    <button class="collapsible">Calificaciones por calidad</button>
    <div class="content">
        <div class="chart">
            <img src="data:image/png;base64,{{ charts_data.quality_rating_chart_base64 }}" alt="Quality Rating Chart">
        </div>
    </div>
</div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const collapsibles = document.querySelectorAll('.collapsible');

            collapsibles.forEach(function(collapsible) {
                collapsible.addEventListener('click', function() {
                    this.classList.toggle('active');
                    const content = this.nextElementSibling;
                    if (content.style.display === 'block') {
                        content.style.display = 'none';
                    } else {
                        content.style.display = 'block';
                        
                    }
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            const contents = document.querySelectorAll('.content');
            
            contents.forEach(function(content) {
  
                content.addEventListener('click', function() {
                    this.classList.toggle('active');
                    if (this.classList.contains('active')) {
                        this.style.marginTop = '0px';
                    } else {
                        this.style.marginTop = '0px';
                    }
                });
            });
        });




    </script>
{% endblock content %}
