{% extends 'base.html' %}
{% load static %}

{% block settings_head %}
    <title>Combined Charts</title>
    <link rel="stylesheet" href="{% static 'css/statistic/chart.css' %}" />
    <style>
        
        .title_h1 {
            font-size: 3vw;
            color:#2c4a52;
            text-decoration: solid;
            -webkit-text-stroke: 2px black;
            margin: 20px auto; 
            text-align: center;
        }
        .collapsible {
            font-size: 1.5vw;
            cursor: pointer;
            padding: 8px; 
            margin-bottom: 0px; 
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            color:#2c4a52;
            text-decoration: solid;
            -webkit-text-stroke: 1px black;
        }

        .content {
            padding: 0 8px 8px 8px; 
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
            width: 100%;
            margin: -8px 0 0 -8px;
        }

        .chart {
            margin: 20px auto; 
            text-align: center;
            padding: 0 8px;
            margin-top: 0px;
        }

        .chart img {
            border: none;
            margin: 20px auto; 
            text-align: center;
        }
    </style>
{% endblock settings_head %}

{% block content %}
{% include 'components/nav_bar.html' with value_type="Si"%}

    </br></br></br></br>
    <div class = "global_container">
        <h1 class = "title_h1">Estadísticas de tus productos</h1>
        <button class="collapsible">Productos por categoría</button>
                <div class="content">
            <p>Explora las categorías que destacan en el catálogo. Descubre cuáles son las más populares y cómo se distribuyen los productos entre ellas.</p>

            <div class="chart">
                <img src="data:image/png;base64,{{ charts_data.category_chart_base64 }}" alt="Category Chart">
                
            </div>
            <a class="right-button">Ver más información</a>
        </div>
    
        <button class="collapsible">Calificaciones por precio</button>
        
        <div class="content">
            <p>Desde las calificaciones de precios hasta la satisfacción del cliente, esta sección brinda información clave sobre cómo los productos son valorados en términos de costos.</p>
            <div class="chart">
                <img src="data:image/png;base64,{{ charts_data.price_rating_chart_base64 }}" alt="Price Rating Chart">
            </div>
            <a class="right-button" href="{% url 'price_products' vendor_name=vendor_name %}">Ver más información</a>
        </div>
    
        <button class="collapsible">Calificaciones por garantía</button>
        
        <div class="content">
            <p>Utiliza las calificaciones en relación con las garantías para tomar decisiones estratégicas sobre el compromiso con la protección del cliente. Descubre qué tan seguros se sienten los compradores con los productos.</p>
            <div class="chart">
                <img src="data:image/png;base64,{{ charts_data.warranty_rating_chart_base64 }}" alt="Warranty Rating Chart">
            </div>
            <a class="right-button" href="{% url 'warranty_products' vendor_name=vendor_name %}">Ver más información</a>
        </div>
    
        <button class="collapsible">Calificaciones por calidad</button>
        <div class="content">
            <p>Analiza las calificaciones que los clientes han dejado sobre la calidad de nuestros productos. Aprende cómo perciben la durabilidad y el rendimiento de lo que ofrecemos.</p>
            <div class="chart">
                <img src="data:image/png;base64,{{ charts_data.quality_rating_chart_base64 }}" alt="Quality Rating Chart">
            </div>
            <a class="right-button"  href="{% url 'quality_products' vendor_name=vendor_name %}" >Ver más información</a>
        </div>
</div>
<br/><br/>
{% include 'components/footer.html'%}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const collapsibles = document.querySelectorAll('.collapsible');

            collapsibles.forEach(function(collapsible) {
                collapsible.addEventListener('click', function() {
                    this.classList.toggle('active');
                    const content = this.nextElementSibling;
                    if (content.style.display === 'block') {
                        content.style.display = 'none';
                    } else {
                        content.style.display = 'block';
                        
                    }
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            const contents = document.querySelectorAll('.content');
            
            contents.forEach(function(content) {
  
                content.addEventListener('click', function() {
                    this.classList.toggle('active');
                    if (this.classList.contains('active')) {
                        this.style.marginTop = '0px';
                    } else {
                        this.style.marginTop = '0px';
                    }
                });
            });
        });




    </script>
{% endblock content %}