{% extends 'base.html' %}
{% load static %}

{% block settings_head %}
    <title>Precio</title>
    <link rel="stylesheet" href="{% static 'css/statistic/chart.css' %}" />
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
{% endblock settings_head %}

{% block content %}
    {% include 'components/nav_bar.html' with value_type="Si" %}
    <br/><br/>
    
    <div class="global_container">
        <h1 class = "title1">Calificación promedio de calidad por producto</h1>
        <img src="{{ price_chart_data_uri }}" alt="Price Products Bar Chart">
        
    
        <div class="cuadro-nota">
            <span class="texto-grueso">NOTA ACLARATORIA</span>
            <p class = "grey">La calificación promedio corresponde al promedio de las calificaciones por precio proporcionada por los usuarios de cada producto.</p>
        </div>
        </>

    <h2 class="quality_title">Rango 1-2: Precio Muy Bajo O Muy Alto:</h2>
        <p class="quality_text">Puede ser que el precio sea demasiado bajo, lo que podría hacer que los clientes sospechen de la calidad. Por otro lado, un precio demasiado alto puede disuadir a los compradores.</p>
        <p class="quality_text"><strong>Recomendación:</strong> Evaluar la calidad del producto y ajustar el precio en consecuencia.
            Comunicar los beneficios y características únicas del producto para justificar el precio.
            Explorar estrategias de fijación de precios competitivos.</p>

        <h2 class="quality_title">Rango 2-3: Precio Aceptable Pero Mejorable:</h2>
        <p class="quality_text">Los productos podrían estar en un rango aceptable, pero aún hay espacio para mejorar la percepción del precio.</p>
        <p class="quality_text"><strong>Recomendación:</strong> Realizar análisis de mercado para entender la competencia y ajustar el precio en consecuencia.
            Ofrecer descuentos temporales o promociones para incentivar la compra.
            Considerar opciones de empaquetado o bundles para agregar valor.</p>

        <h2 class="quality_title">Rango 4-5: Precio Bien Percibido:</h2>
        <p class="quality_text">Aunque la percepción del precio es buena, siempre hay oportunidades para mejorar.</p>
        <p class="quality_text"><strong>Recomendación:</strong> Continuar monitoreando las tendencias del mercado y ajustar el precio según sea necesario.
            Recopilar y destacar testimonios positivos de clientes que enfaticen el valor del producto.
            Implementar promociones de lealtad o descuentos exclusivos para mantener la satisfacción del cliente.</p>

        </br>
        <button id="descargarImagen" class="descargar-btn">Descargar Reporte</button>
        </div>
            <script>
                document.getElementById('descargarImagen').addEventListener('click', function () {
                    html2canvas(document.querySelector(".global_container")).then(canvas => {
                        var link = document.createElement('a');
                        link.href = canvas.toDataURL('image/png');
                        link.download = 'reporte_precio.png';
                        link.click();
                    });
                });
            </script>

{% endblock content %}
