{% extends 'base.html' %}
{% load static %}
{% block settings_head %}
<title>Añadir comentario</title>
<link href="{% static 'css/review/create_review.css' %}" rel="stylesheet" />
{% endblock settings_head %}
{% block content %}
{% include 'components/nav_bar.html' %}
<br/>
<div class="overlay">
  <div class="modal">
    <h2>Agregar un comentario para el producto</h2>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.price_rating.label_tag }} {{ form.price_rating }}
      {{ form.quality_rating.label_tag }} {{ form.quality_rating }}
      {{ form.warranty_rating.label_tag }} {{ form.warranty_rating }}
      {{ form.description.label_tag }} {{ form.description }}

      <button type="submit" class="button_details">Crear comentario</button>
      <p><a href="{% url 'product_app:detail_product' product.id %}">Volver al detalle del producto</a></p>
    </form>
  </div>
</div>
{% endblock content %}
