{%extends 'base.html'%}
{%load static%}
{% block settings_head%}
<title>Review</title>
{%endblock settings_head%}
{% block content%}
<br/>


  <h2>Agregar una reseña para {{ product.name }}</h2>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  
  <form method="post">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="price_rating">Calificación de precio (1-5):</label>
      <input type="number" name="price_rating" min="1" max="5" required>
    </div>
    
    <div class="form-group">
      <label for="quality_rating">Calificación de calidad (1-5):</label>
      <input type="number" name="quality_rating" min="1" max="5" required>
    </div>
    
    <div class="form-group">
      <label for="warranty_rating">Calificación de garantía (1-5):</label>
      <input type="number" name="warranty_rating" min="1" max="5" required>
    </div>
    
    <div class="form-group">
      <label for="description">Descripción:</label>
      <textarea name="description" rows="4" required></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Guardar reseña</button>
  </form>
  
  <p><a href="{% url 'product_app:detail_product' product.id%}">Volver al detalle del producto</a></p>
{% endblock %}
