{%extends 'base.html'%}
{%load static%}
{% block settings_head%}
<link href = "{%static 'css/product/detail_product.css'%}" rel = "stylesheet"/>
<title>Detalles del producto</title>
{%endblock settings_head%}
{% block content%}
{% include 'components/nav_bar.html' %}
<br/>
<div class = "general_container">
    <div class = "single-product">
        <div class = "col-2">
            {% for image in product.image_product.all|slice:":1"%}
                <img src="{{ image.images_product.url }}" width ="100%" id="ProductImg"/>
            {% endfor %}
            <div class = "small-img-row">
                {% for image in product.image_product.all%}
                <div class = "small-img-col">
                    <img src="{{ image.images_product.url }}" width ="100%" class="small-img"/>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class = "info_container">
        <div class = "categories">
            {% for category in product.categories_product.all %}
                <p>{{category}}/</p>
            {% endfor %}
        </div>
        <h1>{{product.name_product}}</h1>
        <h2 class = "price">{{product.price_product}}</h2>
        <p class = "description">{{product.description_product}}</p>
            <h3 class = "stock">Cantidad disponible: {{product.quantity_product}}</h3>
            <h3 class = "info_seller">
            <div>Nombre: {{product.distributed_by_product.name_company_seller}}</div> 
            <div>Celular: {{product.distributed_by_product.phone_number_seller}}</div>
            <div>Dirección: {{product.distributed_by_product.address}}</div>
            <div>Local: {{product.distributed_by_product.local_number_seller}}</div>
        </h3>
    </div>
</div>

<div class = "comments">
    <div class = "buttons_container">
        <a href="{% url 'review_app:AddReviewView' product.id%}">Comentar producto</a>
    </div>
</div>
<script src = "{%static 'js/product/images.js'%}">
</script>
{% endblock content%}
