{%extends 'base.html'%}
{%load static%}
{% block settings_head%}
<link href = "{%static 'css/product/detail_product.css'%}" rel = "stylesheet"/>
<title>Detalles del producto</title>
{%endblock settings_head%}
{% block content%}
{% include 'components/nav_bar.html' with value_type=is_seller%}
<br/>
<div class = "general_container">
    <div class = "single-product">
        <div class = "col-2">
            {% for image in product.image_product.all|slice:":1"%}
                <img src="{{ image.images_product.url }}" width ="100%" id="ProductImg"/>
            {% endfor %}
            <div class = "small-img-row">
                {% for image in product.image_product.all%}
                <div class = "small-img-col">
                    <img src="{{ image.images_product.url }}" width ="100%" class="small-img"/>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class = "info_container">
        <div class = "categories">
            {% for category in product.categories_product.all %}
                <p>{{category}}/</p>
            {% endfor %}
        </div>
        <div class = "rating_div">
            {% for average_element in average_products%}
                {%if average_element.id == product.id%}
                    <p class = "rating">
                        {{average_element.total_avg_rating}}
                        {% if average_element.total_avg_rating >= 4.5 %}
                        ⭐ ⭐ ⭐ ⭐ ⭐
                        {%endif%}
                        {% if average_element.total_avg_rating >= 3.8 and average_element.total_avg_rating < 4.5%}
                        ⭐ ⭐ ⭐ ⭐
                        {%endif%}
                        {% if average_element.total_avg_rating >= 3 and average_element.total_avg_rating < 3.8%}
                        ⭐ ⭐ ⭐
                        {%endif%}
                        {%  if average_element.total_avg_rating >= 2  and average_element.total_avg_rating < 3%}
                        ⭐ ⭐
                        {%endif%}
                        {%  if average_element.total_avg_rating >= 0 and average_element.total_avg_rating < 2%}
                        ⭐
                        {%endif%}
                    </p>
                {% endif %}
            {% endfor %}
        </div>
        <h1>{{product.name_product}}</h1>
        <h2 class = "price">{{product.price_product}}</h2>
        <p class = "description">{{product.description_product}}</p>
            <h3 class = "stock">Cantidad disponible: {{product.quantity_product}}</h3>
            <h3 class = "info_seller">
            <div>Nombre: {{product.distributed_by_product.name_company_seller}}</div> 
            <div>Celular: {{product.distributed_by_product.phone_number_seller}}</div>
            <div>Dirección: {{product.distributed_by_product.address}}</div>
            <div>Local: {{product.distributed_by_product.local_number_seller}}</div>
        </h3>
    </br>
    {% if user.is_authenticated %}
        <div class="button-container">
            <form method="GET" action="{% url 'review_app:AddReviewView' product.id %}">
              <button type="submit" class="button_details review-button" id="open-review-modal">Comentar producto</button>
            </form>
        </div>
        
        {% if product not in list_products_favorites %}
            <div class="button">
                <form method="GET" action="{% url 'product_app:Add_favorite' product.id %}">
                <button type="submit" class="button_details review-button" id="open-review-modal">Añadir a favoritos</button>
                </form>
            </div>
        {% endif %}
        {% else %}
            <p class = "required_login">Inicia sesión para comentar el producto.</p>
        {% endif %}
    </div>
</div>
<h1 class = "title_comments">COMENTARIOS</h1>
<div class = "box_review">
        {% for comment in comments%}
            {% if comment.product.id == product.id%}
            <div class = "box">
                <div class = "top_card">
                    <div class = "item_review">
                        <b><label>Nombre de usuario</label></b>
                        <p>{{comment.username}}</p>
                    </div>
                    <div class = "item_review">
                        <b><label>Precio</label></b>
                        <p>{{comment.price_rating}}</p>
                    </div>
                    <div class = "item_review">
                        <b><label>Calidad</label></b>
                        <p>{{comment.quality_rating}}</p>
                    </div>
                    <div class = "item_review">
                        <b><label>Garantía</label></b>
                        <p>{{comment.warranty_rating}}</p>
                    </div>
                </div>
                <p>{{comment.description}}</p>
            </div>
            {% endif %}
        {% endfor %}
</div>
{% include 'components/footer.html'%}
<script src = "{%static 'js/product/images.js'%}">
</script>
{% endblock content%}
