{% extends 'base.html' %}
{% load static %}
{% block settings_head %}
<title>Productos</title>
<link rel = stylesheet href = "{%static 'css/product/search_box.css'%}"/>
{% endblock settings_head %}
{%block content%}
{% include 'components/nav_bar.html' with value_type=is_seller%}
<div class = "general_search_container">
    <h1>¿Qué producto está buscando?</h1>
    <form method = "GET" action = "{%url 'product_app:view_product'%}">
        <div class = "search_container">
            <input type = "text" placeholder = "Buscar" name = "product" id = "product" required/>
            <button type = "submit" name = "button_product" id = "button_product" class = "button_search">🔍︎</button>
        </div>
        <div class = "options">
            <label><p>¿Por cuál parámetro busca el producto?</p></label>
            <select class = "filter_compare" name = "option">
                <option name = "price" id = "price" value = "precio">Precio</option>
                <option name = "rating" id = "rating" value = "valoración">Valoración</option>
                <option name = "recommendation" id = "recommendation" value = "recomendación pricebyte">Recomendación PriceByte</option>
            </select>
        </div>
    </form>
    <br>
    <br>
    <a href = "{% url 'product_app:search_by_nlp'%}" class="button_details"> Dar descripción del producto</a>
</div>
{%endblock content%}