{% extends 'base.html' %}
{% load static %}
{% block settings_head %}
<title>Productos</title>
<link rel = stylesheet href = "{%static 'css/product/search_box.css'%}"/>
{% endblock settings_head %}
{%block content%}
{% include 'components/nav_bar.html' with value_type=is_seller%}

{% if user.is_authenticated %}   
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{%endif%}
<div class = "general_search_container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>¿Qué producto está buscando?</h1>
    <form method = "GET" action = "{%url 'product_app:view_product'%}">
        <div class = "search_container">
            <input type = "text" placeholder = "Buscar" name = "product" id = "product" required/>
            <button type = "submit" name = "button_product" id = "button_product" class = "button_search">🔍︎</button>
        </div>
        <div class = "options">
            <label><p>¿Por cuál parámetro busca el producto?</p></label>
            <select class = "filter_compare" name = "option">
                <option name = "price" id = "price" value = "precio">Precio</option>
                <option name = "rating" id = "rating" value = "valoración">Valoración</option>
                <option name = "recommendation" id = "recommendation" value = "recomendación pricebyte">Recomendación PriceByte</option>
            </select>
        </div>
    </form>
    <br>
    <br>
    <a href = "{% url 'product_app:search_by_nlp'%}" class="button_details"> Dar descripción del producto</a>
    <br>
    <br>
    
    {% if user.is_authenticated %}
        
            <div class = "global_container">
                <div class = "title">
                    <h1> Recomendaciones para {{ request.user.username }}</span></h1>
                </div>
                <div class="container__images">
                    {% if product %}
                        {% for each_product in product%}
                            
                            <div class="product_item">
                                {% for image in each_product.image_product.all|slice:":1" %}
                                    {% for average_element in average_products%}
                                        {%if average_element.id == each_product.id%}
                                        <div class="product_image" id = "button_general">
                                            <img src="{{ image.images_product.url }}" class="products_images" />
                                            <h1>{{each_product.name_product}}</h1><p class = "price">{{each_product.price_product}}</p>
                                            <p class = "rating">
                                                {{average_element.total_avg_rating}} 
                                                {% if average_element.total_avg_rating >= 4.5 %}
                                                ⭐ ⭐ ⭐ ⭐ ⭐
                                                {%endif%}
                                                {% if average_element.total_avg_rating >= 3.8 and average_element.total_avg_rating < 4.5%}
                                                ⭐ ⭐ ⭐ ⭐
                                                {%endif%}
                                                {% if average_element.total_avg_rating >= 3 and average_element.total_avg_rating < 3.8%}
                                                ⭐ ⭐ ⭐
                                                {%endif%}
                                                {%  if average_element.total_avg_rating >= 2  and average_element.total_avg_rating < 3%}
                                                ⭐ ⭐
                                                {%endif%}
                                                {%  if average_element.total_avg_rating >= 0 and average_element.total_avg_rating < 2%}
                                                ⭐
                                                {%endif%}
                                            </p>
                                            <a href = "{%url 'product_app:detail_product' each_product.id%}" class = "button_details">Detalles</a>
                                        </div>
                                        {%endif%}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endif %}              
            
            
                </div>
                <div class = "pages_options">
                    <ul>
                        {% if page_obj.has_previous%}
                        <li>
                            <a href = "?product={{searched_product}}&option={{search_by}}&page={{page_obj.previous_page_number}}" class = "exist_page">←</a>
                        </li>
                        {% else %}
                        <li>
                            <a href = "#" class = "not_exist_page">←</a>
                        </li>
                        {%endif%}
                        {% for page in paginator.page_range%}
                            {% if page == page_obj.number %}
                            <li>
                                <a href = "#" class = "current_page">{{page}}</a>
                            </li>
                            {%else%}
                            <li>
                                <a href = "?product={{searched_product}}&option={{search_by}}&page={{page}}" class = "exist_page">{{page}}</a>
                            </li>
                            {% endif%}
                        {%endfor%}
                        {% if page_obj.has_next%}
                        <li>
                            <a href = "?product={{searched_product}}&option={{search_by}}&page={{page_obj.next_page_number}}" class = "exist_page">→</a>
                        </li>
                        {% else %}
                        <li>
                            <a href = "#" class = "not_exist_page">→</a>
                        </li>
                        {%endif%}
                    </ul>
                </div>
            </div>
    
    {% endif %}
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% include 'components/footer.html'%}
{%endblock content%}