{% extends 'base.html' %}
{% load static %}
{% block settings_head %}
<title>Products</title>
<link rel = stylesheet href = "{%static 'css/product/search_box.css'%}"/>
{% endblock settings_head %}
{%block content%}
{% include 'components/nav_bar.html' %}
<div class = "general_search_container">
    <h1>What product are you looking for?</h1>
    <form method = "GET">
        <div class = "search_container">
            <input type = "text" placeholder = "Search"/ name = "product" id = "product">
            <button type = "submit" name = "button_product" id = "button_product" class = "button_search">🔍︎</button>
        </div>
        <div class = "options">
            <label><p>I want to compare by: </p></label>
            <select class = "filter_compare" name = "option">
                <option name = "none" id = "none">------</option>
                <option name = "price" id = "price" value = "price">Price</option>
            </select>
        </div>
    </form>
</div>
<div class="container_images" id = "section_products">
    {% for each_product in product %}
        <div class="product_item">
            {% for image in each_product.image_product.all|slice:":1" %}
                <div class="product_image" id = "button_general">
                    <img src="{{ image.images_product.url }}" class="products_images" />
                    <hr/>
                    <h1>{{each_product.name_product}}</h1><p class = "price">{{each_product.price_product}}</p>
                    <a href = "{%url 'product_app:detail_product' each_product.id%}" class = "button_details">Details</a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{%endblock content%}