{% extends 'base.html' %}
{% load static %}
{% block settings_head %}
<title>Top productos</title>
<link rel = stylesheet href = "{%static 'css/product/view_products.css'%}"/>
{% endblock settings_head %}
{%block content%}
{% include 'components/nav_bar.html' with value_type=is_seller%}
<div class = "global_container">
    <div class = "title">
        <h1>MEJORES PRODUCTOS POR <span>{{search_by}}</span></h1>
    </div>
    <div class="container__images">
        {% for each_product in top_3_productos %}
            <div class="product_item">
                {% for image in each_product.image_product.all|slice:":1" %}
                    {% for average_element in average_products%}
                        {%if average_element.id == each_product.id%}
                        <div class="product_image" id = "button_general">
                            <img src="{{ image.images_product.url }}" class="products_images" />
                            <h1>{{each_product.name_product}}</h1><p class = "price">{{each_product.price_product}}</p>
                            <p class = "rating">
                                {{average_element.total_avg_rating}} 
                                {% if average_element.total_avg_rating >= 4.5%}
                                ⭐ ⭐ ⭐ ⭐ ⭐
                                {%endif%}
                                {% if average_element.total_avg_rating >= 3.8 and average_element.total_avg_rating < 4.5%}
                                ⭐ ⭐ ⭐ ⭐
                                {%endif%}
                                {% if average_element.total_avg_rating >= 3 and average_element.total_avg_rating < 3.8%}
                                ⭐ ⭐ ⭐
                                {%endif%}
                                {%  if average_element.total_avg_rating >= 2  and average_element.total_avg_rating < 3%}
                                ⭐ ⭐
                                {%endif%}
                                {%  if average_element.total_avg_rating >= 0 and average_element.total_avg_rating < 2%}
                                ⭐
                                {%endif%}
                            </p>
                            <a href = "{%url 'product_app:detail_product' each_product.id%}" class = "button_details">Detalles</a>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <form method = "GET" action = "{% url 'product_app:view_all_products'%}">
        <input type = "text" value = "{{searched_product}}" class = "hide_options" name = "product"/>
        <select name = "option" class = "hide_options">
            <option value = "{{search_by}}"></option>
        </select>
        <!-- <div class = "container_see_all_products" id = "all">
            <button type = "submit" class = "all_products">Ver más</button>
        </div>
        -->
    </form>
</div>
{% include 'components/footer.html'%}
{%endblock content%}
