{% extends 'base.html' %}
{% load static %}
{% block settings_head %}
<title>Create Seller</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/accounts.css' %}">
{% endblock settings_head %}
{% block content %}
{% include 'components/nav_bar.html' with value_type=is_seller%}
<br />
<br />
<div class="centered-container">
  <div class="card">
    <div class="card-body">
    </br></br>
      <h2 class="card-title centered-title">Crear vendedor</h2>
    </br>
      {% if error %}
      <div class="alert" role="alert">
        {{ error }}
      </div>
      {% endif %}
      <p class="card-text">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="id_NIT_seller" class="form-label">NIT:</label>
            <input type="text" name="NIT_seller" id="id_NIT_seller" class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="id_phone_number_seller" class="form-label">Número de teléfono:</label>
            <input type="text" name="phone_number_seller" id="id_phone_number_seller" class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="id_address" class="form-label">Dirección:</label>
            <input type="text" name="address" id="id_address" class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="id_local_number_seller" class="form-label">Número del local:</label>
            <input type="text" name="local_number_seller" id="id_local_number_seller" class="form-control" required>
          </div>

          
            <button type="submit" class="button_details">Crear vendedor</button>
          
        </form>
      </p>
    </br></br>
    </div>
  </div>
</div>
{% endblock content %}
</html>
