{%extends 'base.html'%}
{%load static%}
{% block settings_head%}
<title>Eliminar producto</title>
<link href = "{%static 'css/seller/DeleteProduct.css'%}" rel = "stylesheet"/>
{%endblock settings_head%}
{% block content%}
{% include 'components/nav_bar.html' with value_type=is_seller%}
<div class = "general_container">
    <h1> ¿Desea eliminar el producto: "{{object}}"? </h1>
    <div class = "buttons">
        <form method="post">{% csrf_token %}
            <button type="submit">Eliminar</button>
        </form>
        <a href="{% url 'seller_app:home_seller' %}" class = "button">Cancelar</a>
    </div>
</div>
{% include 'components/footer.html'%}
{% endblock content%}