{%extends 'base.html'%}
{%load static%}
{% block settings_head%}
<title>Home vendedor</title>
<link href = "{%static 'css/seller/HomeSeller.css'%}" rel = "stylesheet"/>
{%endblock settings_head%}
{% block content%}
{% include 'components/nav_bar.html' with value_type=is_seller%}
<br/>
<div class = "global_container">
    <div class = "title">
        <h1>TUS PRODUCTOS</h1>
    </div>
    
    <div class = "search">
        <form method = "GET">
            <input type = "text" class = "search_box" placeholder = "Buscar producto" id = "product" name = "product">
            <input type = "submit"/ value = "🔍︎" class = "button_search">
        </form>
    </div>
    {% if messages %}
    <div class = "message_action">
        {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}
    </div>
    {% endif %}
    <div class="container__images">
        {% for each_product in products%}
            <div class="product_item" id = "{{each_product}}" title = "Detalles del producto">
                {% for image in each_product.image_product.all|slice:":1" %}
                    {% for average_element in average_products%}
                        {%if average_element.id == each_product.id%}
                            <div class="product_image" id = "button_general" data-product-id="{{each_product.id}}">
                                <img src="{{ image.images_product.url }}" class="products_images" />
                                <h1>{{each_product.name_product}}</h1>
                                <p class = "price">{{each_product.price_product}}</p>
                                <p class = "rating">
                                    {{average_element.total_avg_rating}} 
                                    {% if average_element.total_avg_rating >= 4.5 %}
                                    ⭐ ⭐ ⭐ ⭐ ⭐
                                    {%endif%}
                                    {% if average_element.total_avg_rating >= 3.8 and average_element.total_avg_rating < 4.5%}
                                    ⭐ ⭐ ⭐ ⭐
                                    {%endif%}
                                    {% if average_element.total_avg_rating >= 3 and average_element.total_avg_rating < 3.8%}
                                    ⭐ ⭐ ⭐
                                    {%endif%}
                                    {%  if average_element.total_avg_rating >= 2  and average_element.total_avg_rating < 3%}
                                    ⭐ ⭐
                                    {%endif%}
                                    {%  if average_element.total_avg_rating >= 0 and average_element.total_avg_rating < 2%}
                                    ⭐
                                    {%endif%}
                                </p>
                                {%if each_product.unread_notifications_count > 0%}
                                <p class = "comments_notification">Comentarios sin leer: {{ each_product.unread_notifications_count }} 🔴</p>
                                {%else%}
                                <p class = "comments_notification">Comentarios sin leer: {{ each_product.unread_notifications_count }} 🟢</p>
                                {%endif%}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div>
                        <a href = "{%url 'seller_app:delete_product' each_product.id%}" class = "button_details">Eliminar</a>
                        <a href = "{%url 'seller_app:update_product' each_product.id%}" class = "button_details">Modificar</a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class = "pages_options">
        <ul>
            {% if page_obj.has_previous%}
            <li>
                <a href = "?product={{searched_product}}&option={{search_by}}&page={{page_obj.previous_page_number}}" class = "exist_page">←</a>
            </li>
            {% else %}
            <li>
                <a href = "#" class = "not_exist_page">←</a>
            </li>
            {%endif%}
            {% for page in paginator.page_range%}
                {% if page == page_obj.number %}
                <li>
                    <a href = "#" class = "current_page">{{page}}</a>
                </li>
                {%else%}
                <li>
                    <a href = "?product={{searched_product}}&option={{search_by}}&page={{page}}" class = "exist_page">{{page}}</a>
                </li>
                {% endif%}
            {%endfor%}
            {% if page_obj.has_next%}
            <li>
                <a href = "?product={{searched_product}}&option={{search_by}}&page={{page_obj.next_page_number}}" class = "exist_page">→</a>
            </li>
            {% else %}
            <li>
                <a href = "#" class = "not_exist_page">→</a>
            </li>
            {%endif%}
        </ul>
    </div>
    <br/>
    <a href = "{% url 'seller_app:create_product'%}" class = "button_details">Crear producto</a>
    <label for="csv_file" class = "button_details">Subir archivo CSV</label>
    <input type="file" id="csv_file" name="csv_file" accept=".csv" style="display: none;">
</div>



{% include 'components/footer.html'%}
<script>
    var productDivs = document.querySelectorAll('.product_image');

    productDivs.forEach(function (div) {
        div.addEventListener('click', function () {
            var productId = div.getAttribute('data-product-id');

            var url = "{% url 'product_app:detail_product' 0 %}".replace("0", productId);

            window.location.href = url;
        });
    });
</script>
{% endblock content%}