* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://i.pinimg.com/originals/39/c7/1e/39c71e43cd06601a698edc75859dd674.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal {
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 500px; /* Ancho máximo del modal */
  }
  
  .modal input[type="text"],
  .modal input[type="number"] {
    height: 4vh;
    width: 100%;
    padding: 0 1vw;
    color: #000;
    border-radius: 5vw;
    font-size: 1.3vw;
    border: none;
    background-color: rgba(208, 208, 208, 0.4);
    margin-bottom: 1.5vh;
  }
  
  .modal input[type="number"]:focus,
  .modal input[type="text"]:focus {
    background-color: white;
  }
  
  .modal textarea {
    border-radius: 1vw;
    height: 9vh;
    width: 100%;
    background-color: rgba(208, 208, 208, 0.4);
    border: none;
    margin-bottom: 1.5vh;
    resize: none;
    font-size: 1.3vw;
  }
  
  .modal textarea:focus {
    background-color: white;
  }
  
  .modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .modal form label {
    font-size: 1.4vw;
    font-weight: bold;
    color: #2c4a52;
  }
  
  .button_details {
    box-shadow: 0 0 5px #2c4a52;
    color: white;
    background-color: #2c4a52;
    text-decoration: none;
    font-size: 1.4vw;
    padding: 10px;
    border-radius: 20px;
    margin: 1vw;
    border: none;
    cursor: pointer;
  }
  
  .button_details:hover {
    box-shadow: 0 0 5px #2c4a52, 0 0 25px #2c4a52;
  }
  