*{
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    position:fixed;
    display: flex;
    align-items: center;
}
.container img{
    width: 13%;
    margin:1vw;
    display: inline;
}
.container .buttons_container{
    display: flex;
    width: 100%;
    justify-content: right;
}
.container .buttons_container>a{
    border:none;
    box-shadow: 0px 1vh 0.8vw rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 1vw;
    margin:0vw 1vw;
    padding:1vw;
    font-size: 1.1vw;
    text-decoration: none;
    color:black;

}
.container .buttons_container>a:hover{
    background-color: #8e9b97;
    cursor:pointer;
}
@media (max-width: 820px){
    *{
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    position:fixed;
    display: flex;
    align-items: center;
    z-index: 1;
}
.container img{
    width: 0%;
    margin:0vw;
    display: none;
    background-color: red;
}
.container .buttons_container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.container .buttons_container>a{
    border:none;
    box-shadow: 0px 1vh 0.8vw rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 1vw;
    margin:3vw 1vw;
    padding:1vw;
    font-size: 4.5vw;
    text-decoration: none;
    color:black;
    cursor:pointer;

}
.container .buttons_container>a:hover{
    background-color: #8e9b97;
    cursor:pointer;
}   
}
