* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.single-product {
  margin: 12vh 5vw;
  width: 25vw;
}
.small-img-row {
  display: flex;
  justify-content: space-around;
  margin-top: 3vw;
}
.col-2 img {
  max-width: 100%;
}
.small-img-col {
  flex-basis: 21%;
  cursor: pointer;
}
.single-product .col-2 img {
  padding: 0;
}

.hide_form {
  display: none;
}

.general_container {
  display: flex;
  justify-content: center;
  height: 100%;
}
.general_container .info_container {
  margin-top: 12vh;
  display: flex;
  flex-direction: column;
}
.general_container .info_container h1 {
  font-size: 5vw;
}
.categories {
  display: flex;
  color: gray;
}
.price::before {
  content: "$";
}
.price {
  color: #2c4a52;
}
.description {
  width: 40vw;
  text-align: justify;
  margin-top: 2vh;
}
.info_seller {
  background-color: #2c4a52;
  color: white;
  padding: 1vw;
  width: fit-content;
  border-radius: 2vw;
  margin-top: 2vw;
}
.stock {
  margin-top: 1vw;
}
.button_details {
  box-shadow: 0 0 5px #2c4a52;
  color: white;
  background-color: #2c4a52;
  text-decoration: none;
  font-size: 1.4vw;
  padding: 10px;
  border-radius: 5 px;
  margin: 1vw;
  border: none;
  cursor: pointer;
}

.button_details:hover {
  box-shadow: 0 0 5px #2c4a52, 0 0 25px #2c4a52;
}

.button a.review-button {
  background-color: #537072;
  color: white;
  text-decoration: none;
  font-size: 1.4vw;
  padding: 10px;
  border-radius: 20px;
  margin: 1vw;
  border: none;
  cursor: pointer;
}

.button a.review-button:hover {
  box-shadow: 0 0 5px #2c4a52, 0 0 25px #2c4a52;
}
.title_comments {
  text-align: center;
  font-size: 4vw;
  color: #2c4a52;
  text-decoration: solid;
  -webkit-text-stroke: 2px black;
}
.box_review .box {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 30px 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  margin: 3vw 10vw 3vw 10vw;
  border-radius: 10px;
  max-width: 100%;
}

.box_review .box .top_card .item_review {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
}
.box_review .box .top_card .item_review label {
  font-size: 1.3vw;
  color: white;
}
.box_review .box .top_card .item_review p {
  font-size: 1.3vw;
  color: white;
}
.box_review .box .top_card {
  display: flex;
  justify-content: space-around;
  background-color: #2c4a52;
  margin-bottom: 2vw;
}
.box_review .box .top_card h3 {
  padding-top: 1vw;
}
.box_review .box p {
  font-size: 1.3vw;
  text-align: center;
}
.rating_div {
  margin-top: 1vw;
  font-size: 1.3vw;
}
.rating_div .rating {
  color: #2c4a52;
}

.required_login{
  text-decoration:underline #2c4a52;
}
@media (max-width: 820px) {
  * {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .single-product {
    margin: 0vh 5vw;
    width: 300px;
  }
  .small-img-row {
    display: flex;
    justify-content: space-around;
    margin-top: 3vw;
  }
  .col-2 img {
    width: 300vw;
  }
  .small-img-col {
    flex-basis: 100%;
    cursor: pointer;
  }
  .single-product .col-2 img {
    padding: 0;
  }
  
  .hide_form {
    display: none;
  }
  
  .general_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 12vh;
  }
  .general_container .info_container {
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
  }
  .general_container .info_container h1 {
    font-size: 10vw;
  }
  .categories {
    display: flex;
    color: gray;
    font-size: 5vw;
    margin-top: 2vw;
  }
  .price::before {
    content: "$";
  }
  .price {
    color: #2c4a52;
  }
  .description {
    width: 80vw;
    text-align: justify;
    margin-top: 2vh;
    font-size: 5vw;
    margin-bottom: 2vh;
  }
  .info_seller {
    background-color: #2c4a52;
    color: white;
    padding: 1vw;
    width: fit-content;
    border-radius: 2vw;
    margin-top: 2vw;
  }
  .stock {
    margin-bottom: 2vw;
  }
  .button_details {
    box-shadow: 0 0 5px #2c4a52;
    color: white;
    background-color: #2c4a52;
    text-decoration: none;
    font-size: 6vw;
    padding: 10px;
    border-radius: 5 px;
    margin: 1vw;
    border: none;
    cursor: pointer;
  }
  
  .button_details:hover {
    box-shadow: 0 0 5px #2c4a52, 0 0 25px #2c4a52;
  }
  
  .button a.review-button {
    background-color: #537072;
    color: white;
    text-decoration: none;
    font-size: 5vw;
    padding: 10px;
    border-radius: 20px;
    margin: 1vw;
    border: none;
    cursor: pointer;
  }
  
  .button a.review-button:hover {
    box-shadow: 0 0 5px #2c4a52, 0 0 25px #2c4a52;
  }
  .title_comments {
    text-align: center;
    font-size: 10vw;
    color: #2c4a52;
    text-decoration: solid;
    -webkit-text-stroke: 2px black;
    margin-top: 3vh;
  }
  .box_review .box {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 30px 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    margin: 3vw 10vw 3vw 10vw;
    border-radius: 10px;
    max-width: 100%;
  }
  
  .box_review .box .top_card .item_review {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    flex-wrap: wrap;
  }
  .box_review .box .top_card .item_review label {
    font-size: 5vw;
    color: white;
  }
  .box_review .box .top_card .item_review p {
    font-size: 5vw;
    color: white;
  }
  .box_review .box .top_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2c4a52;
    margin-bottom: 2vw;
  }
  .box_review .box .top_card h3 {
    padding-top: 1vw;
  }
  .box_review .box p {
    font-size: 5vw;
    text-align: center;
  }
  .rating_div {
    margin-top: 1vw;
    font-size: 5vw;
  }
  .rating_div .rating {
    color: #2c4a52;
  }
  .required_login{
    font-size: 5vw;
    width: 80vw;
    text-decoration:underline #2c4a52;
  }
}
