{% extends 'base.html' %}
{% load static%}
{% block settings_head %}
<link href = "{%static 'css/components/navbar.css'%}" rel = "stylesheet"/>
<title>NavBar</title>
{% endblock settings_head %}
{% block content %}
<div class = "container">
    <img src = "{%static 'img/navbar/pricebyte.png'%}"/>
    <div class = "buttons_container">
        {%if value_type == "No"%}
            <a href = "{%url 'product_app:search_product'%}">Productos</a>
            
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logoutaccount' %}">Logout ({{ user.username }} / {{ user.type }})</a>
                <a href = "{%url 'product_app:See_favorites'%}">Productos Favoritos</a>
            {% else %}
                <a href = "{% url 'loginaccount' %}">Iniciar Sesión</a>
                <a href = "{% url 'signupaccount' %}">Registrarse</a>
            {% endif %}
        {%endif%}
        {%if value_type == "Si"%}
            <a href="{% url 'seller_app:home_seller' %}">Home</a>
            <a href = "{%url 'bar_chart' vendor_name=user.username %}">Estadísticas</a>
            <a href =  "{%url 'rec_price' vendor_name=user.username %}">Recomendación de precio</a>
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logoutaccount' %}">Logout ({{ user.username }} / {{ user.type }})</a>
            {% else %}
                <a href = "{% url 'loginaccount' %}">Iniciar Sesión</a>
                <a href = "{% url 'signupaccount' %}">Registrarse</a>
            {% endif %}
        {%endif%}
    </div>
</div>
{% endblock content %}