.title{
    text-align: center;
    padding-top: 6vw;
    margin-bottom: 1vw;
    margin: 0 0 1vw 0;
}


.title h1{
    font-size: 3vw;
    color:#2c4a52;
    text-decoration: solid;
    -webkit-text-stroke: 2px black;
}

.global_container{
    margin: 5vw 10vw 2vw 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    font-size: 3vw;
    color:#2c4a52;
    text-decoration: solid;
    -webkit-text-stroke: 2px black;
    margin: 20px auto; 
    text-align: center;
}

h2 {
    font-size: 2vw;
    color:#2c4a52;
    text-decoration: solid;
    -webkit-text-stroke: 1px black;
    margin: 20px auto; 
    text-align: center;
}



a {
    box-shadow: 0 0 5px #2c4a52;
    color: white;
    background-color: #2c4a52;
    text-decoration: none;
    font-size: 1.4vw;
    padding: 10px;
    border-radius: 20px;
    margin: 1vw;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-left: auto; 
    display: block;   
    margin-right: 20px; 
}
.content p {
    font-size: 1.4vw;
    color: #2c4a52;
    margin: 1.5vh 0;
    text-align: center;
}

.collapsible {
    font-size: 1.5vw;
    cursor: pointer;
    padding: 8px; 
    margin-bottom: 0px; 
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    color:#2c4a52;
    text-decoration: solid;
    -webkit-text-stroke: 1px black;
}

.content {
    padding: 0 8px 8px 8px; 
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 100%;
    margin: -8px 0 0 -8px;
}

.chart {
    margin: 20px auto; 
    text-align: center;
    padding: 0 8px;
    margin-top: 0px;
}

.chart img {
    border: none;
    margin: 20px auto; 
    text-align: center;
}

/* categories.css */

.table-container {
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden; /* Añadido para ocultar la barra superior */
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #537072;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
